# Grafana Datasource Provisioning

apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: false
    jsonData:
      timeInterval: "15s"
      httpMethod: POST

  - name: Elasticsearch
    type: elasticsearch
    access: proxy
    url: http://elasticsearch:9200
    database: temporal_visibility*
    editable: false
    jsonData:
      esVersion: "7.10+"
      timeField: "StartTime"
      logMessageField: "message"
      logLevelField: "level"
