services:
  elasticsearch:
    image: elasticsearch:8.19.9
    ports:
    - 9200:9200
    environment:
    - discovery.type=single-node
    - xpack.security.enabled=false
  jupyter:
    image: jupyter/scipy-notebook
    ports:
    - 8888:8888
  neo4j:
    image: neo4j:5
    ports:
    - 7474:7474
    - 7687:7687
  ollama:
    image: ollama/ollama
    ports:
    - 11434:11434
  postgres:
    image: postgres:15
    ports:
    - 5432:5432
    environment:
    - POSTGRES_PASSWORD=postgres
    - POSTGRES_USER=postgres
    - POSTGRES_DB=ai_agency
  redis:
    image: redis:7
    ports:
    - 6379:6379
