{{- if .Values.podDisruptionBudget.enabled -}}
{{- $fullName := include "agi-environment.fullname" . -}}
{{- $labels := include "agi-environment.labels" . -}}
{{- $selectorLabels := include "agi-environment.selectorLabels" . -}}
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: {{ $fullName }}
  namespace: {{ .Values.global.namespace | default .Release.Namespace }}
  labels:
    {{- $labels | nindent 4 }}
spec:
  {{- if .Values.podDisruptionBudget.minAvailable }}
  minAvailable: {{ .Values.podDisruptionBudget.minAvailable }}
  {{- end }}
  {{- if .Values.podDisruptionBudget.maxUnavailable }}
  maxUnavailable: {{ .Values.podDisruptionBudget.maxUnavailable }}
  {{- end }}
  selector:
    matchLabels:
      {{- $selectorLabels | nindent 6 }}
{{- end }}
