# EditorConfig for Java Development
# https://editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.java]
indent_size = 4
ij_java_imports_layout = java.**,javax.**,org.**,com.**,*,**
ij_java_class_count_to_use_import_on_demand = 5
ij_java_names_count_to_use_import_on_demand = 3

[*.xml]
indent_size = 2

[*.yml,*.yaml]
indent_size = 2

[*.json]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.properties]
trim_trailing_whitespace = false

# Maven
[pom.xml]
indent_size = 2

# Gradle
[*.gradle]
indent_size = 4

# SQL
[*.sql]
indent_size = 2

# Docker
[Dockerfile*]
indent_style = tab

# Shell scripts
[*.sh]
end_of_line = lf
indent_style = space
indent_size = 4